$primary-txt: #111111;
$secondary-txt: #555555;
$secondary-lighter-txt: #777777;
$primary-pink: #FF3998;
$secondary-orange: #FF8139;
$secondary-green: #39FFA0;
$secondary-red: #FF3939;
$primary-background: #EEEEEE;
$lighter-background: #fcfcfc;
$copyright-txt: #999999;


