@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  overflow-x: hidden;
  font-family: "Inter";
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .hamburgerMenu input[type=checkbox] {
  display: none;
}
header .hamburgerMenu .menuBtn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
header .hamburgerMenu .menuBtn span {
  width: 30px;
  height: 4px;
  background-color: #999999;
  margin: 3px 0;
  border-radius: 2px;
}
header .hamburgerMenu .menuBox {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background: #fcfcfc;
  position: absolute;
  top: 60px;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .hamburgerMenu .menuBox li {
  margin: 0;
}
header .hamburgerMenu .menuBox .menuItem {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  color: #555555;
}
header .hamburgerMenu .menuBox .menuItem:hover {
  background: #FF3998;
  color: #fcfcfc;
}
header .hamburgerMenu .menuBox .highlight {
  color: #FF3998;
}
header .hamburgerMenu input[type=checkbox]:checked ~ .menuBox {
  display: block;
}

.hero {
  padding: 24px;
  display: flex;
  height: 500px;
}
.hero .heroImg {
  width: 50%;
  margin: -15% 0% 0 -20%;
}
.hero .heroImg img {
  height: 75%;
}
.hero .launchSoonTxt {
  color: #FF3998;
  font-weight: 700;
  letter-spacing: 10%;
  font-size: 16px;
}
.hero h1 {
  font-weight: 900;
  color: #111111;
  font-size: 48px;
  letter-spacing: 0%;
}
.hero .blockTxt {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  line-height: 1.5;
  margin-bottom: 40px;
}
.hero .gradientWrapper {
  height: 75px;
  width: 188px;
}
.hero .button {
  color: #111111;
  background-color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  height: 67px;
  width: 179px;
  border: none;
  border-radius: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .button:after {
  content: "";
  position: absolute;
  height: 75px;
  width: 188px;
  border-radius: 1000px;
  background: linear-gradient(to top right, #FF8139, #FF3998, #FF3939, #FF8139, #39FFA0);
  z-index: -1;
}
.hero .button:hover {
  background: linear-gradient(to top right, #FF8139, #FF3998, #FF3939, #FF8139, #39FFA0);
  color: #fcfcfc;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s;
}

.upsell {
  background-image: url(assets/background.svg);
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 24px;
  height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}
.upsell .bgrOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 326px;
  background: linear-gradient(to right, rgba(255, 57, 153, 0.4235294118) 0%, rgba(255, 64, 129, 0) 100%);
  pointer-events: none;
}
.upsell h2 {
  font-weight: 500;
  color: #111111;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  position: relative;
  z-index: 3;
}
.upsell p {
  font-weight: 400;
  font-size: 20px;
  color: #111111;
  line-height: 1.5;
  margin-bottom: 40px;
  position: relative;
  z-index: 3;
}

.press {
  padding: 50px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 55px;
}
.press img {
  width: 150px;
}

.showcase {
  padding: 0px 24px;
  margin-bottom: 70px;
}
.showcase h2 {
  font-weight: 500;
  color: #111111;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
}
.showcase .showcaseDescr {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  line-height: 1.5;
  margin-bottom: 40px;
}
.showcase .showcaseDescr span {
  text-decoration: underline;
}
.showcase .cardContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px 0;
  scroll-snap-type: x mandatory; /* smooth snapping cards */
  scrollbar-width: none;
  margin-right: -24px;
}
.showcase .cardContainer .card {
  width: 290px;
  scroll-snap-align: start; /* align cards when scrolling */
  flex: 0 0 auto;
}
.showcase .cardContainer img {
  margin: 0;
  display: block;
}
.showcase .cardContainer .cardContent {
  background-color: #EEEEEE;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 0 0 16px 16px;
  justify-content: space-between;
  padding: 10px 24px 20px;
}
.showcase .cardContainer .cardContent .nftNameInfo .series {
  font-weight: 500;
  font-size: 12px;
  color: #FF8139;
}
.showcase .cardContainer .cardContent .nftNameInfo h3 {
  font-weight: 500;
  font-size: 20px;
  color: #111111;
  margin: 0 0 10px;
}
.showcase .cardContainer .cardContent .nftNameInfo .nftNo {
  font-weight: 400;
  font-size: 20px;
  color: #777777;
  margin: 0;
}
.showcase .cardContainer .cardContent .bidInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.showcase .cardContainer .cardContent .bidInfo .topBid {
  font-weight: 500;
  font-size: 12px;
  color: #777777;
}
.showcase .cardContainer .cardContent .bidInfo .eth {
  font-weight: 500;
  font-size: 20px;
  color: #111111;
  margin: 0 0 10px;
}
.showcase .cardContainer .cardContent .bidInfo .eth::before {
  content: "";
  display: inline-block;
  background: url(assets/eth.svg) no-repeat center center;
  background-size: contain;
  width: 13px;
  height: 22px;
  margin-right: 10px;
}
.showcase .cardContainer .cardContent .bidInfo .daysLeft {
  font-weight: 400;
  font-size: 20px;
  color: #777777;
  margin: 0;
}

.footerUpsell {
  height: 645px;
  position: relative;
  overflow: hidden;
}
.footerUpsell .divider {
  width: 100%;
  height: 2px;
  background-color: #EEEEEE;
  margin: 0;
  padding: 0;
}
.footerUpsell .h2Line {
  position: absolute;
  top: 53%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #EEEEEE;
  z-index: -1;
}
.footerUpsell .ftUpsellFlex {
  display: flex;
  padding: 50px 24px 24px;
}
.footerUpsell .ftUpsellImg {
  width: 50%;
  margin: 32% -5% 0 0%;
}
.footerUpsell .ftUpsellImg img {
  height: 100%;
}
.footerUpsell .ftUpsellContent .launchSoonTxt {
  color: #FF3998;
  font-weight: 700;
  letter-spacing: 10%;
  font-size: 16px;
}
.footerUpsell .ftUpsellContent h2 {
  font-weight: 900;
  color: #111111;
  font-size: 56px;
  margin-top: 30px;
}
.footerUpsell .ftUpsellContent .blockTxt {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  line-height: 1.5;
  margin-bottom: 40px;
  width: 87%;
}
.footerUpsell .ftUpsellContent .gradientWrapper {
  height: 75px;
  width: 188px;
}
.footerUpsell .ftUpsellContent .button {
  color: #111111;
  background-color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  height: 67px;
  width: 179px;
  border: none;
  border-radius: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerUpsell .ftUpsellContent .button:after {
  content: "";
  position: absolute;
  height: 75px;
  width: 188px;
  border-radius: 1000px;
  background: linear-gradient(to top right, #FF8139, #FF3998, #FF3939, #FF8139, #39FFA0);
  z-index: -1;
}
.footerUpsell .ftUpsellContent .button:hover {
  background: linear-gradient(to top right, #FF8139, #FF3998, #FF3939, #FF8139, #39FFA0);
  color: #fcfcfc;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s;
}

footer {
  padding: 0 24px;
}
footer .divider {
  border-top: solid 2px #EEEEEE;
  margin: 0 -24px;
}
footer .logoSocialMedia {
  margin-top: 60px;
}
footer .logoSocialMedia .ftLogo {
  margin-bottom: 10px;
}
footer .logoSocialMedia p {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  margin: 0;
  margin: 16px 0;
}
footer .logoSocialMedia .socialMediaBlock {
  display: flex;
  justify-content: space-between;
  width: 118px;
  margin: 20px 0;
}
footer .logoSocialMedia .socialMediaBlock .socialIcon {
  width: 18px;
}
footer .ftInfoBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0;
  gap: 15px 0;
}
footer .ftInfoBlock .ftBlockBigger, footer .ftInfoBlock .ftBlockSmaller {
  width: 92px;
}
footer .ftInfoBlock .ftBlockBigger ul {
  height: 87px;
}
footer .ftInfoBlock .ftBlockSmaller ul {
  height: 55px;
}
footer .ftInfoBlock h2 {
  color: #555555;
  font-weight: 700;
  letter-spacing: 10%;
  font-size: 16px;
}
footer .ftInfoBlock a {
  text-decoration: none;
  color: #555555;
}
footer .ftInfoBlock li {
  list-style: none;
}
footer .ftInfoBlock ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .ftBottom {
  margin-bottom: 70px;
}
footer .ftBottom .footerLaunch {
  display: none;
}
footer .copyright {
  font-weight: 400;
  font-size: 20px;
  color: #999999;
  margin: 0;
}
footer .footerContainer {
  width: 70%;
}

@media screen and (max-width: 429px) {
  .hero {
    padding-bottom: 70px;
  }
  .press {
    gap: 20px 40px;
  }
  .footerUpsell {
    height: 750px;
  }
  .footerUpsell .ftUpsellImg {
    width: 50%;
    margin: 110% -5% 0 5%;
  }
  .footerUpsell .ftUpsellImg img {
    height: 90%;
  }
}
@media screen and (min-width: 650px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  header .hamburgerMenu .menuBtn {
    display: none;
  }
  header .hamburgerMenu .menuBox {
    display: flex;
    list-style: none;
    width: auto;
    background: transparent;
    position: unset;
    box-shadow: none;
  }
  header .hamburgerMenu .menuBox li {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
  }
  header .hamburgerMenu .menuBox .menuItem {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #555555;
  }
  header .hamburgerMenu .menuBox .menuItem:hover {
    background: #FF3998;
    color: #fcfcfc;
  }
  header .hamburgerMenu .menuBox .highlight {
    color: #FF3998;
  }
  header .hamburgerMenu input[type=checkbox]:checked ~ .menuBox {
    display: none;
  }
  .hero {
    margin-top: 5%;
    height: 550px;
  }
  .hero .blockTxt {
    width: 86%;
  }
  .hero .heroImg {
    width: 50%;
    margin: -12% 10% 0 -10%;
  }
  .hero .heroImg img {
    height: 100%;
  }
  .press {
    padding: 50px 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px 55px;
  }
  .press img {
    width: 180px;
  }
  .footerUpsell {
    height: 500px;
  }
  .footerUpsell .h2Line {
    position: unset;
  }
  .footerUpsell .ftUpsellImg {
    margin: 0% -5% 0 10%;
  }
  .footerUpsell .ftUpsellImg img {
    height: 105%;
  }
  .footerUpsell .ftUpsellContent .ftUpsellTxt {
    width: 100%;
  }
  .footerUpsell .ftUpsellContent h2 {
    margin: 15px 0;
  }
}
@media screen and (min-width: 1280px) {
  body {
    padding: 40px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  header .hamburgerMenu .menuBtn {
    display: none;
  }
  header .hamburgerMenu .menuBox {
    display: flex;
    list-style: none;
    width: auto;
    background: transparent;
    position: unset;
    box-shadow: none;
  }
  header .hamburgerMenu .menuBox li {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
  }
  header .hamburgerMenu .menuBox .menuItem {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #555555;
  }
  header .hamburgerMenu .menuBox .menuItem:hover {
    background: #FF3998;
    color: #fcfcfc;
  }
  header .hamburgerMenu .menuBox .highlight {
    color: #FF3998;
  }
  header .hamburgerMenu input[type=checkbox]:checked ~ .menuBox {
    display: none;
  }
  .hero {
    margin-top: 5%;
    height: 700px;
  }
  .hero h1 {
    font-size: 96px;
    margin-top: 1%;
  }
  .hero .blockTxt {
    width: 86%;
  }
  .hero .heroImg {
    width: 50%;
    margin: -8% 10% 0 -10%;
  }
  .hero .heroImg img {
    height: 100%;
  }
  .upsell {
    background-position-x: 100%;
    background-position-x: 100%;
    background-size: 100%;
    border-radius: 20px;
  }
  .upsell .bgrOverlay {
    display: none;
  }
  .upsell h2 {
    padding: 0 0 15px 30px;
  }
  .upsell p {
    padding: 0 0 60px 30px;
    margin: 0;
  }
  .press {
    margin: 40px 0;
    justify-content: space-between;
  }
  .press img {
    width: 200px;
  }
  .showcase .cardContainer {
    display: flex;
    justify-content: space-between;
  }
  .footerUpsell {
    height: 450px;
  }
  .footerUpsell .h2Line {
    position: unset;
  }
  .footerUpsell .ftUpsellImg {
    margin: 0% -20% 0 10%;
  }
  .footerUpsell .ftUpsellImg img {
    height: 84%;
  }
  .footerUpsell .ftUpsellContent .ftUpsellTxt {
    width: 100%;
  }
  .footerUpsell .ftUpsellContent h2 {
    margin: 15px 0;
  }
  footer {
    margin-bottom: 30px;
  }
  footer .footerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .footerContainer .ftInfoBlock {
    gap: 15px 50px;
  }
  footer .ftBottom {
    display: flex;
    justify-content: space-between;
  }
  footer .ftBottom .footerLaunch {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #999999;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero .heroImg {
    margin: -8% 0 0 0;
  }
  .press img {
    width: 270px;
  }
  .showcase .cardContainer {
    justify-content: start;
    gap: 0 50px;
  }
}/*# sourceMappingURL=style.css.map */